@font-face {
    font-family: "JosefinSans-Bold"; ;
    src: local("JosefinSans-BoldItalic") , local("JosefinSans-Bolditalic") , url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf) format(truetype);
}
@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format(truetype);
}
@font-face {
    font-family: "roboto-regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format(truetype);
}