/* container */
.container{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
@media (max-width:125rem) {
    .container{
        width: 80%;
    }
}
@media (max-width:80rem) {
    .container{
        width: 90%;
    }
}
@media (max-width:48rem) {
    .container{
        width: 95%;
    }
}