/* Header */
@media (max-width: 120rem) {
    .nav-menu-list{
        font-size: 1.6rem;
        width: 530px;
    }
    .nav-menu-links{
        font-size: 1.6rem;
    }
}
@media (max-width:900px) {
    .nav-menu-list{
        font-size: 1.2rem;
        width: 430px;
    }
    .nav-menu-links{
        font-size: 1.2rem;
        margin-left: 30px;
    }
}
@media (min-width: 768px) {
    .mobile-mune{
        display: none;
    }
    .nav__btn{
        display: none;
    }
    .nav-menu{
        display: flex;
    }
}